@import './reset.css';

:root {
    --app-bg: #f7faff;
    --app-header-height: 75px;
    --app-blue: #3178fe;
}

.flexbox {
    display: flex;
    place-items: center;
}

body {
    background-color: var(--app-bg);
}

/**********************
    Header
**********************/
header {
    background-color: var(--app-blue);
}

header div {
    height: var(--app-header-height);
}

nav {
    margin-left: auto;
}

nav ul li {
    list-style: none;
    text-decoration: none;
}

nav ul li + li {
    margin-left: 15px;
}

nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}


/**********************
    Hero banner
**********************/

.banner {
    height: calc(100vh - var(--app-header-height));
    width: 100%;
    background-image: url('../img/banner-image-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 40px;
}

/**********************
    Same Properties
**********************/

header, .banner {
    color: #fff;
}