@import './reset.css';

:root {
    --app-header-height: 75px;
    --app-font-size: 20px;
    --app-bg: #f7faff;
    --app-blue: #306ee3;
    --app-gray: #bbbbbb;
    --app-footer-font-color: #4f4f4f;
}

.flexbox {
    display: flex;
    place-items: center;
}

body {
    background-color: var(--app-bg);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

/**********************
    Header
**********************/
header {
    background-color: var(--app-blue);
    border-bottom: 1px solid #285ab9;
}

header div {
    height: var(--app-header-height);
}

nav {
    margin-left: auto;
}

nav ul li {
    list-style: none;
    text-decoration: none;
}

nav ul li + li {
    margin-left: 15px;
}

nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}


/**********************
    Hero banner
**********************/

.banner {
    height: calc(100vh - var(--app-header-height));
    width: 100%;
    background-image: url('../img/banner-image-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #000;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

/**********************
    About Me
**********************/
.separate {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #fff, #000, #fff);
}

.about-me {
    margin-top: 40px;
}

.about-me .container {
    padding: 0 15px;
}

.about-me p {
    margin-bottom: 40px;
}

/**********************
    Contact me
**********************/
.socials {
    margin-bottom: 40px;
}

.icon-links {
    display: grid;
    place-items: center;
}

.icon-links p {
    font-size: 50px;
}

/**********************
    Footer
**********************/
footer {
    background-color: var(--app-gray);
    border-top: 1px solid var(--app-footer-font-color);
}

footer div {
    height: var(--app-header-height);
}

footer p {
    color: var(--app-footer-font-color);
}
/**********************
    Same Properties
**********************/

header, .banner {
    color: #fff;
}

.about-me h2, .socials h2 {
    margin: 40px 0;
    text-align: center;
}

header ul li, .about-me, footer {
    font-size: var(--app-font-size);
}